//Primary colours
$BrainFlix-Black: #323232;
$BrainFlix-Blue: #0095ff;
$Silver: #afafaf;
$White: #ffffff;

//Secondary colours
$BrainFlix-DarkBlack: #000000;
$Brainflix-Darkblue: #0065ad;
$Mercury: #e1e1e1;
$Alabaster: #fafafa;

//DESKTOP AND TABLET PADDING
$padding-b-h: 36px;

//MOBILE
$padding-h: 14px;
$padding-a-h: 16px;
$padding-b-c: 16px;
