@use "../../../styles/partials/mixins" as *;
@use "../../../styles/partials/variables" as *;

//MOBILE
.video-info {
  padding-left: $padding-h;
  padding-right: $padding-h;

  &__header {
    @include PG-m;
    font-weight: 700;
  }

  &__descript {
    @include BC-m;
    margin: $padding-a-h 0 $padding-a-h 0;
  }
}

.video-details {
  border-bottom: 1px solid $Mercury;
  padding: $padding-h 0 $padding-h 0;
}

.posted-details {
  &__creator {
    margin: 0;
    margin-bottom: 10px;
    @include BC-m;
  }

  &__date {
    margin: 0;
    @include BC-m;
  }
}

.video-numbers {
  flex-direction: column;
  width: 40%;
  margin-left: 30px;
}

.view-details {
  width: 100%;
  height: 30%;
  margin-bottom: 10px;
  &__icon {
    width: 1.563rem;
  }
  &__count {
    margin: 0 0 0 5px;
    width: 50%;
    @include BC-m;
  }
}

.likes-details {
  width: 100%;
  height: 35%;

  &__icon {
    width: 1.563rem;
  }

  &__count {
    margin: 0 0 0 5px;
    width: 50%;
    @include BC-m;
    color: $Silver;
  }
}

//TABLET
@include tablet {
  .video-info {
    padding: 0 30px 0 30px;
    &__header {
      font-size: 2.125rem;
    }

    &__descript {
      @include BC-dt;
    }
  }

  .video-details {
    align-items: center;
    border-top: none;
    padding: 0 0 10px 0;
    justify-content: space-between;
  }

  .posted-details {
    width: 50%;
    display: flex;
    &__creator {
      width: 45%;
      margin: 0;
      @include BC-dt;
    }
    &__date {
      @include BC-dt;
    }
  }

  .video-numbers {
    flex-direction: row;
    width: 25%;
    margin: 0;
  }

  .view-details {
    margin: 0;

    &__count {
      @include BC-dt;
    }
  }

  .likes-details {
    width: 40%;

    &__count {
      width: 100%;
      @include BC-dt;
    }
  }
}

//DESKTOP
@include desktop {
  .video-info {
    width: 91.6%;
    padding: 0 0 0 100px;

    &__header {
      margin-top: $padding-b-h;
    }
    &__descript {
      padding-right: 20px;
      margin-bottom: 20px;
    }
  }

  .video-details {
    padding-right: 20px;
  }
}
